/****************************************************************
 *
 *	Talis Prism Default Skin
 *	Version: v1.0
 *	Author: Phil Rae
 *	URL: http://prism.talis.com/
 *	
 ****************************************************************/


/* CLEARING DEFAULT TEMPLATE STYLES APPLIED BY base.css -------------------*/
#branding, #headerLinks, #pageContent, #southwark-container, #headerFragment, #s-branding, #pageHeader {
	padding:0; } /* base.css (line 405) */
#pageContent, #headerLinks, #headerFragment, #branding, #pageHeader {
	position:static;text-align:left;top:0;max-width:none;min-width:inherit;width:auto !important; } /* base.css (line 382) */
#page {border-top:none;background:none; min-width:inherit;position:static;text-align:left;top:0; }
#headerLinks ul { position:static;right:0;width:auto; }
.accessibilityLinks li { border-right:none; }
#searchBox { text-align:inherit; }
#searchBox #searchform { padding:0; }
input{ margin:0; }
#pageContent {font-family:inherit;}
#pageFooter{margin-top:0;padding-bottom:0;}
.sidebar h2, #availability h2.title, #renderitem h2.title, #account h2.title, #searchhelp h2.title {
	background:transparent;border-bottom:none;font-weight:normal;left:0;margin-bottom:0;padding:0;position:static !important;}
.sidebar h2 {width:auto;}
#searchHelp {background:transparent;margin-bottom:0;width:auto;}
#advancedsearch #searchclear {margin-left:0;position:static;top:0;}



/* COMMONLY USED CLASSES --------------------------------------------------*/

.clear { clear:both; }
 


/* GENERAL STYLES ---------------------------------------------------------*/
 
body {
	background: #555 !important; /* !important to help ie6 on searchhelp.php */
	color:#333;
	font-family:Arial,Helvetica,sans-serif;
	font-size:12px;
	margin:0;
	padding:0;
	text-align:center; /* for IE6 to align the page in the centre */ }
 

a:link,
a:visited { 
	color:#4B79AC;
	text-decoration:none; }
	
a:active,
a:hover,
a:focus {
	color:#08376A;
	text-decoration:none; }
	
	
h1, h2, h3, h4, h5, h6 {
	font-weight:normal; }
	
h1 {
	color:#08376A;
	font-size:28px;
	margin:0 0 8px 0; }
	
h2 {
	color:#08376A;
	font-size:18px;
	line-height:1.2em;
	margin:0 0 8px 0; }
	
p, ul, li, textarea, input {
	color:#555;
	font-family:Arial,Helvetica,sans-serif; }
	
	

/* FORM ITEMS -------------------------------------------------------------*/
input[type="text"],
input[type="password"],
input.text,
#searchform input#s {
	background:#fff;			
	border:1px solid #aaa;
	color:#888;
	font-size:14px;
	margin:0;
	padding:4px 10px;
	position:relative;
	top:-1px;
	width:210px; }
	
textarea {
	color:#666;
	padding:10px 5px;
	width:490px; }


input[type="button"],
input[type="submit"],
#advancedsearch input#searchsubmit,
#pageButtons input,
#sortform input,
#borrowerServices input[type="submit"],
input#errorsubmit,
input#searchsubmit,
input#feedbacksubmit,
input#searchclear {
	background:url(images/default-theme/bg_button.png) 0 0 repeat-x;
	border:none;
	color:#555;
	cursor:pointer;
	font-size:12px;
	font-weight:normal;
	line-height:26px;
	height:26px;
	margin:0;
	padding:0;
	position:relative;
	top:-1px;
	text-align:center;
	text-indent:0;
	text-shadow:0 1px 0 #fff;
	width:70px; }
	
			
	#sortform input {
		background-image:url(images/default-theme/bg_button_narrow.png);
		height:22px;
		line-height:22px;
		top:0px;
		*top:-3px;
		width:50px; }
	
	input#searchclear {
		background-image:url(images/default-theme/bg_button_wide.png);
		_background-image:none;
		margin-top:-1px;
		width:90px; }
	
 
	input[type="button"]:hover,
	input[type="submit"]:hover,
	#advancedsearch input#searchsubmit:hover,
	#pageButtons input:hover,
	#sortform input:hover,
	#borrowerServices input[type="submit"]:hover,
	input#errorsubmit:hover,
	input#searchsubmit:hover,
	input#feedbacksubmit:hover,
	input#searchclear:hover {
		background-position:0 -26px;
		color:#222; }

	#sortform input:hover {
		background-position:0 -22px; }


textarea {
	color:#888888;
	font-size:15px;
	padding:10px 5px;
	width:490px; }

 input:focus, 
 select:focus, 
 textarea:focus {
 	color:#555; }
 
 
 #searchform input#s:focus {
 	color:#555; }
 
 

/* PAGE WRAPPERS ----------------------------------------------------------*/
#page {
	margin:20px auto;
	text-align:left;
	width: 970px; } 

	#pageContainer {
		background:#fff url(images/default-theme/bg_header.png) 0 0 repeat-x; /* #pageContent lies on top of this container */
		height:100%; /* prevent hasLayout bug in IE6 */
		margin-bottom:20px; }
	
	#logo { /* #logo is found in header.html */
		float:left;
		height:56px; /* to match height logo image */
		margin:28px 0 20px 25px; /* margin top and bottom of image defines the height of the header bar */
		_margin-left:13px;
		_margin-bottom:9px; }
	 


/* MAIN NAVIGATION --------------------------------------------------------*/

#headerLinks {
	background:#F6F7F9;
	border-top:1px solid #929EB2;
	border-bottom:1px solid #929EB2;
	display:block;
	height:31px;
	margin:0; }
	
	#headerLinks ul {
		margin: 0;
		padding: 0; }
		
			
		#headerLinks ul.userLinks li {
			border-left:none; }
		
	#headerLinks ul li {
		display:block;
		float:left;
		list-style:none;
		margin:0;
		padding:0; }
		
		#headerLinks .accessibilityLinks { float:left; /* allows both menus on a single line */ }
 
		#headerLinks .accessibilityLinks a,
		#headerLinks .userLinks a {
			border-bottom:none;
			color:#424753;
			display: block;
			font-size:14px;
			line-height:31px;
			padding:0 15px; }
			
			#headerLinks .accessibilityLinks li:first-child a {
				border-left:none; }
			
			#headerLinks .accessibilityLinks a:hover,
			#headerLinks .userLinks a:hover {
				color:#424753 !important;
				text-decoration:underline; }

	
	#languageSelector {
			border:none;
			color: #fff;
			display: block;
			font-size:12px;
			padding:3px 0 0 10px; }

	#languageSelector select {
		font-size:11px;
		padding:1px; }
		
	#languageSelector input {
		background:#fafafa;
		*margin-top:-3px;
		padding:0 2px; }



	 
/* HEADER AREA ------------------------------------------------------------*/

#pageHeader {
	clear:both;
	margin-bottom:-100px; /* needs to pull up #pageContent search form as it's positioned absolute */
	width:auto !important; /* has to be set to override the base stylesheet */ }
	
	
	#searchBox {
		display:inline;
		left:500px; /* position to the left of the header bar */
		position:relative;
		top:-100px; /* move search form into header bar area */ }
			
		#searchform {
			display:inline;}
		
		#searchBox .formElement {
			display:inline; }
			 		 
			#searchBox .formElement a { /* this is the 'More search options" link */
				color:#315E90;
				font-size:12px;
				position:absolute;
				top:25px;
				*top:32px;
				_top:25px;
				left:7px;
				margin:0;
				padding:0; }
						 
				#searchBox .formElement a:active,
				#searchBox .formElement a:focus,
				#searchBox .formElement a:hover {
					color:#444 !important; /* can't find CSS to override */
					text-decoration: none; }
	
					
	#talis-logo {
		float:right;
		margin:15px 25px 0 0; }


		
/* MAIN CONTENT -----------------------------------------------------------*/
 
#pageContent {
	background:#fff;
	color:#555;
	clear:both;
	font-size:14px;
	margin:0;
	padding:0;
	width:auto !important; /* has to be set to override the base stylesheet */

padding:0 18px;
width:932px !important; }
	
	#left-col {
		clear:both; }
		
	
	#index #pageContent {
		padding-bottom:0; }
		
	#content{
		padding:30px 0 50px 0;
		margin:0; }
		
		#feedback #content {
			margin:0 10px 50px; }
			
		#userActivity { /* breadcrumb on search results */
			border-bottom:1px solid #e5e5e5;
			clear:both; 
			color:#999;
			margin:0 0 10px 0;
			padding:10px 0 10px 5px; }
	
	h1.title {
		margin:0 0 20px 220px; }

		#borrowerservices h1.title,
		#advancedsearch h1.title,
		#feedback h1.title {
			margin-left:0; } /* pages with no sidebar */
			
	h2.title {
		margin-top:20px; }
		
		.summary h1.title {
			margin-left:0; }
		
		.summary h2.title {
			margin-top:0; }
	
	#searchResults,
	.searchControl,
	.searchHelp {margin:0 0 0 220px; padding:0;}
	
	#searchPanel { /* no #content on search results page so need to pad bottom */
		margin-bottom:50px; }
		
	.searchControl h3 {
		color:#666;}
	
	
	#searchResultsSort {
		position:relative;
		top:-4px; }	
	
		#sortform label {
			font-size:13px;
			font-weight:normal; }
		
	#itemControl {
		margin-top:20px; }
		
		#itemControl .image {
			margin-top:5px; }
 
 
	#itemActions { margin-top: -20px; }
	#itemActions h2 {
		font-size: 1.2em;
		margin-top: 2em;
		margin-bottom: 0.5em; }
		
		
	/* some pages don't have a #content div so need to compensate, e.g. the advanced search page */
	#advancedsearch #pageContent,
	#borrowerservices #pageContent,
	#account #pageContent {
		padding:30px 25px;
		width:auto !important; }		
		
	#advancedsearch h1,
	#borrowerservices h1,
	#account h1 {
		margin:0 0 30px 0; }
		
	#borrowerServices,
	#accountData {
		margin:0 0 100px 0;}

	
	#accountSummary tr.even th,
	#accountSummary tr.even td {
		background:#f1f1f1; }
		
	#accountSummary th {
		font-weight:bold; }
		
		

	.userLinks li, .pagingControl li {
		color:#666; }
		
		.pagingControl li a {
			text-decoration:none; }
			
		.pagingControl li a:hover {
			border-bottom-color:#9200D0;}
	

	#availability table {
		font-size:12px; }
		
	.itemContent #details div.table {
		margin-bottom:20px; }
		
	#details .table .row {
		margin-bottom:0.5em;}
		
		
	#availability td, #availability th {
		line-height:1.2em;
		padding:0.5em 5px; }

	
		
		
	/* SIDEBAR ---------------------------------------------------------------*/
	.sidebar {
		position:relative;
		padding-bottom:50px;
		top:-45px;
		width:200px !important; }
	
		#searchFacets.sidebar {
			position:static;
			top:45px; }
	
	.sidebar ul {
		margin-bottom:1em; }
	
	.sidebar ul li {
		font-size:13px; }
		
		
	.sidebar h2,
	.sidebar h3,
	#extensionsPanel h2.title,
	#itemActions.sidebar .tagbox h2 {
		color:#333333;
		font-size:13px; }
		
	.sidebar h2,
	#extensionsPanel h2.title {
		color:#666;
		font-size:14px;
		font-weight:normal;
		margin-top:1px;
		margin-bottom:21px; }
				
	.sidebar a:link,
	.sidebar a:visited {
		color:#315E90; }
		
	.sidebar a:active,
	.sidebar a:hover {
		color:#08376A; }
		
		
		
		
	#extensionsPanel {
		margin-top:20px; }
		
		
	#itemActions.sidebar .tagbox {
		padding:8px;
		-moz-border-radius:none;
		border:none; }

	#itemActions.sidebar .tagbox ul {
		margin-bottom:5px; }
	
	#itemActions.sidebar .tagbox li a:link, #itemActions.sidebar .tagbox li a:visited {
		font-size:1em; }
		
	#itemActions.sidebar .tagbox h2 {
		font-size:14px;
		font-weight:bold;
		padding:5px 0 5px 0; }
		
	#itemActions.sidebar .tagbox h3 {
		font-size:12px;
		font-weight:bold; }
		
		
	#itemActions.sidebar .tagbox li a:link,
	#itemActions.sidebar .tagbox li a:visited {
		-moz-border-radius:0;
		color:#467CAB; }
	
	#itemActions.sidebar .tagbox li a:active,
	#itemActions.sidebar .tagbox li a:hover {
		color:#08376A; }
		
	#itemActions.sidebar .tagbox ul li {
		background:none;
		font-size:11px;
		margin-bottom:0.7em; }
	
 
 
 /* Various form items */
 .login-label {
	margin-top:4px;
	width:150px; }
	
	.login-p {
		margin:30px 0 10px 0; }
		
	#barcodeEntry .login-p {
		margin-top:0; }

	
	
	/* advanced search form */
	#searchclearform {
		display:inline;
		position:relative;
		left:230px;
		top:-71px;
		*top:-42px;
		_top:-67px; }
		
	
	#advancedsearch input#searchsubmit {
		margin-left:130px;
		margin-bottom:30px;
		_width:80px; /* ie6 hack */ }
			
		
	form#borrowerServices {
		padding-bottom:30px; }
		
	form#borrowerServices .tenant-admin,
	#feedbackform,
	#errorreportform {
		background:#fafafa;
		border:1px solid #f2f2f2;
		padding:20px 20px 25px;
		width:500px;  }	

		#borrowerServices #pageButtons {
			margin-top:20px; }
			
			

	


	/* HOMEPAGE -------------------------------------------------------------
	 *
	 * need to reposition the search box on the homepage and style content
	 * included in the homepage.html file
	 */
		 
	#index #pageContent {
		padding:0;
		width:auto !important; /* has to be set to override the base stylesheet */ }
		 
	#index #searchBox { /* reposition search box */
		left:260px;
		top:170px; }
		
		#index #searchBox .formElement a {
			color:#4B79AC;
			top:40px;
			*top:47px; }
						 
		#index #searchBox .formElement a:active,
		#index #searchBox .formElement a:focus,
		#index #searchBox .formElement a:hover {
			color:#08376A !important; /* can't find CSS to override */
			text-decoration:none; }


		#index #searchform input#s {
			background:none;
			border:1px solid #bbb;
			color:#AAAAAA;
			font-size:22px;
			font-weight:normal;
			height:30px;
			_height:42px;
			line-height:30px;
			padding:5px 11px;
			position:relative;
			top:-1px;
			_top:0;
			width:335px; }
			
			#index #searchform input#s:focus {
				color:#555; }
			
	#index input#searchsubmit { 
		background:url(images/default-theme/bg_button_home.png) 0 0 no-repeat;
		border:none;
		border-radius:none;
		color:#666;
		font-size:18px;
		font-weight:normal;
		height:42px;
		margin:0;
		padding:0;
		width:100px; }
	
			
				
		/* HOME CONTENT ----------------------------------------------------------*/
		#home-content-wrapper {
			margin:120px auto 70px auto; /* center the home content box */ }
				
			#homeContent {text-align:center;}
		
				#homeContent #headings {}
									
					#homeContent h1 {
						font-size:28px;
						letter-spacing:-0.03em;
						text-align:center; }
					
					
				#homeContent #adviceBox {
					background:#F7F7F7;
					border:1px solid #C7CFD9;
					margin:145px auto 0 auto;  /* top margin needs to be large enough to position the search bar inbetween */
					padding:20px 20px 10px; /* only 10px bottom padding due to using P tags for 
																			content which themselves have bottom padding */
					width:530px;
				}
		
			

	
 
 
/* FOOTER -----------------------------------------------------------------*/

#pageFooter {
	background:#F6F7F9;
	border-top:1px solid #929EB2;
	font-size:12px;
	margin:0;
	padding: 10px 0 9px; /* do not pad horizontally as it'll spill out of the container */
	*padding-bottom:0px; }
	
	#footer-powered-by {
		color:#777;
		float:right;
		padding-right:15px;
		text-align:right;
		width:250px; }
	 
		#footer-powered-by a:link,
		#footer-powered-by a:visited {
			color: #444;
			text-decoration:none; }
			
		#footer-powered-by a:active,
		#footer-powered-by a:hover {
			color: #08376A;
			text-decoration:none; }
			
			
